@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 18px;
    }
    
    body {
        @apply text-lg;
        font-size: 1.125rem;
        line-height: 1.7;
    }
    
    h1 {
        line-height: 1.2;
    }
    
    h2 {
        line-height: 1.3;
    }
    
    h3 {
        line-height: 1.4;
    }
    
    p {
        font-size: 1.125rem;
        line-height: 1.7;
    }
}